<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add/Edit Course</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmxc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>

<div class="navbar bg-dark flex-box align-items-center justify-content-between p-3">
    <h5 class="text-white fw-bold m-0">CourseShare</h5>
    <div class="nav text-gray">
        <a class="nav-link" th:href="@{/instructor/dashboard}">Dashboard</a>
        <a class="nav-link" th:href="@{/course/manage-course}">Manage Courses</a>
        <a class="nav-link" th:href="@{/review/management}">Reviews</a>
        <form th:action="@{/instructor/logout}" method="post" style="display: inline;">
            <!-- Dùng onsubmit để xóa sạch các dữ liệu rác (nếu có) trên trình duyệt -->
            <button class="nav-link" type="submit" onclick="localStorage.clear(); sessionStorage.clear();">
                Logout
            </button>
        </form>
    </div>
</div>

<main class="container p-3 d-flex justify-content-center align-items-center">

    <div class="bg-white w-75 rounded p-3 shadow-lg">
        <h2 th:text="${course.id == null ? 'Create New Course' : 'Edit Course'}"></h2>
        <form th:action="@{/course/{action}(action=${course.id == null ? 'add' : 'edit' })}" th:object="${course}" method="post">
            <input type="hidden" name="id" th:value="${course.id}">
            <input type="hidden" name="oldCategory" th:value="${course.oldCategory}">

            <div class="mb-3">
                <label for="courseTitle" class="form-label">Course</label>
                <input type="text" class="form-control" id="courseTitle" th:field="*{title}" placeholder="Enter course title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Short description</label>
                <textarea class="form-control" id="description" th:field="*{description}" placeholder="Write a brief summary"></textarea>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Course Content (Markdown)</label>
                <textarea class="form-control" id="content" th:field="*{content}" placeholder="# Markdown content here"></textarea>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Categories (comma-separated)</label>
                <input type="text" class="form-control" id="category" th:field="*{category}" th:placeholder="*{oldCategory}">
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select class="form-select" id="status" th:field="*{status}">
                    <option selected disabled value="">Select Status</option>
                    <option value="1">Draft</option>
                    <option value="2">Published</option>
                    <option value="3">Archived</option>
                </select>
            </div>
            <button type="submit" class="btn w-25 btn-success">Save</button>
        </form>
    </div>

</main>
</body>
</html>